*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bannerTitle{
    background-image: url(./1753568328461.jpg);
    text-decoration: dotted;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    width: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    color: rgb(255, 147, 108);
    font-size: 25px;
}


.top-bar{
    background: #f9f9f9;
    padding: 10px;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    border: none;
    align-items: center;
    margin: auto;
    margin-top: 30px;
}

.inline-box{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-size: 14px;
}
.imageicon{
    width: 45px;
    height: 35px;
    margin-top: 2px;
    
}


.phone-text{
    display: flex;
    flex-direction: column;
    line-height: normal;
}
    


nav{
    background: teal;
    display: flex;
    justify-content: center;
    padding: 15px 20px;
    color: #fff;
    padding-block: 12px;
    gap: 1rem;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

nav > a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}


.socialmedia{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.socialmedia > span{
    font-size: 15px;
    position: relative;
}

.socialmedia > icons{
    padding-left: 75px;
    display: flex;
    gap: 10px;
}

.socialmedia > a {
    margin-top: 2px;
}

.socialmedia > img {
    width: 20ppx;
    height: 20px;
    
}


.paragraphs{
    margin: auto ;
    text-align: start;
    display: flex;
    justify-content: space-around;
    text-align: justify;
    width: 64%;
    font-size: small;
    padding: 30px;
    margin-top: 3rem;
    
    
}

.call-us{
    border: 2px solid #dddddd;
    box-shadow: 0 0 15px ;
    padding: 30px 20px;
    border-radius: 10px;
    height: 250px;
    width: 250px;
    background-color: #ffffff;
     display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.iconss{
    font-size: 30px;
    
    color: #f4b400;
    margin-bottom: 15px;
    border: 2px solid #f4b400;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 15px;
    
    

}

a > i{
    color: #f4b400 ;
}

.email-us{
    border: 2px solid #dddddd;
    box-shadow: 0 0 15px;
    padding: 30px 20px;
    border-radius: 10px;
    height: 250px;
    width: 250px;
    background-color: #ffffff;
     display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    

}
.hamburger{
    display: none;
    color: #000;
}
#toggle{
    display: none;
}



.address{
    border: 2px solid #dddddd;
    box-shadow: 0 0 15px;
    padding: 30px 20px;
    border-radius: 10px;
    height: 250px;
    width: 250px;
    background-color: #ffffff;
     display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    
        
     
    
    
    

}
.inform{
    display: flex;
    gap: 2rem;
    justify-content: center;

    margin-right: auto;

    
    
    
    
}
.container{
    background: #fff;
    max-width: 900px;
    margin: auto;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0,1);
    ;
    
       
}
.contacts{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 10px;
   

}
.contacts . input{
    margin-right: 10PX;
    
}
.contactstwo{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 10px;
}

.contactstwo . input{
    margin-right: 10px;
}

h2{
color: #f4b400;
margin-bottom: 20px;

}
.phoneno{
    color: #f4b400;
}

.inputCont{
    width: 100%;
    margin: 10px 0;
    border: 1px solid orange;
    border-radius: 4px;
   
    
    
}
.inputCont > input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    padding-block: 0.5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 6px;
}
textarea{
    height: 100px;
    resize: none;
    border: none ;
    padding: 10px;
    
}
.captcha{
    margin: 10px 0;
    display: flex;
    align-items: center;
    
    
}
.cap{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    margin-bottom: 10px;

}

.captcha> input{
    width: 50px;
    height: 50px;
    padding: 5px;
    border: 2px solid;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 5px;
    color: orange;
    
}

button{
    background: orange;
    color: black;
    border: none;
    width: 120px;
    padding: 10px 20px;
    border-radius: 2px;
    cursor: pointer;
    

}
nav >input[type="checkbox"] {
    display: none;
}
nav label{
    display: none;
    cursor: pointer;
    font-size: 30px;
}

@media(min-width: 300px) and (max-width:600px) {
    nav a{
        width: calc(100% - 40px);
        display: none;

    }
.top-bar2 > img{
    width: 60px;

}
.top-bar{
    max-width: 380px;
    gap: 1rem;
    
}
.inline-box> img{
    display: none;
}
.bannerTitle{
    background-size: 600px;
    position: relative;
    bottom: 4rem;
    font-size: 14px;
    color: rgb(255, 147, 108)S;


}
.paragraphs{
    width: 400px;
    display: flex;
    text-align:start;


    font-weight: 400;
    position: relative;
    bottom: 160px;
    font-size: 16px;

}
.inform{
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 130px;
}
.container{
    position: relative;
    bottom: 130px;
}

}
    
    
  
    
    
    


